a {
    color: black;
  }

body {
    background-color: white;
}

@media screen and (max-width: 1023px){
     #container {
     width: 100%;
     }
}

iframe {
    font-size: 1.125rem; 
    text-align: center; 
    border-width: 0px; 
    border-style: none; 
    width: 610em; 
    max-width: calc(100% - 10em);
    height: 9500em;
}